
<!--(if target vf || vflocal)><!-->
<apex:component controller="<%= customController %>">

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <apex:stylesheet value="styles/main.css"/>
    <!-- endbuild -->
<!--<!(endif)-->
    <div ng-app="<%= scriptAppName %>">
      <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <!-- Add your site or application content here -->
      <% if (ngRoute) {
        %><ng-view class="container"></ng-view><%
      } else {
        %><div class="container" ng-include="'views/main.html'" ng-controller="MainCtrl"></div><%
      } %>
    </div>
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->
    <!--(if target vf || vflocal)><!-->
    
    <!--<!(endif)-->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <!--(if target vflocal)><!-->
    <script src=".tmp/template.js"></script>
    <!--<!(endif)-->    
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <!-- endbuild -->  



<!--(if target vf || vflocal)><!-->
  </apex:component>
<!--<!(endif)-->
